<div class="widget-box-2 mb-20">
    <h5 class="title">Amenities<span>*</span></h5>
    <div class="box-amenities-property">
        <div class="box-amenities">
            <div class="title-amenities text-btn">Home safety:</div>
            <div class="list-amenities">
                <fieldset class="amenities-item">
                    <input type="checkbox" class="tf-checkbox style-1" id="cb1" checked="">
                    <label for="cb1" class="text-cb-amenities">Smoke alarm</label>
                </fieldset>
                <fieldset class="amenities-item">
                    <input type="checkbox" class="tf-checkbox style-1 primary" id="cb2">
                    <label for="cb2" class="text-cb-amenities">Self check-in with
                        lockbox</label>
                </fieldset>
                <fieldset class="amenities-item">
                    <input type="checkbox" class="tf-checkbox style-1 primary" id="cb3" checked="">
                    <label for="cb3" class="text-cb-amenities">Carbon monoxide alarm</label>
                </fieldset>
                <fieldset class="amenities-item">
                    <input type="checkbox" class="tf-checkbox style-1 primary" id="cb4">
                    <label for="cb4" class="text-cb-amenities">Security cameras</label>
                </fieldset>
            </div>
        </div>
        <div class="box-amenities">
            <div class="title-amenities text-btn">Bedroom</div>
            <div class="list-amenities">
                <fieldset class="amenities-item">
                    <input type="checkbox" class="tf-checkbox style-1" id="cb-bed1">
                    <label for="cb-bed1" class="text-cb-amenities">Hangers</label>
                </fieldset>
                <fieldset class="amenities-item">
                    <input type="checkbox" class="tf-checkbox style-1 primary" id="cb-bed2">
                    <label for="cb-bed2" class="text-cb-amenities">Extra pillows &amp;
                        blankets</label>
                </fieldset>
                <fieldset class="amenities-item">
                    <input type="checkbox" class="tf-checkbox style-1 primary" id="cb-bed3">
                    <label for="cb-bed3" class="text-cb-amenities">Bed linens</label>
                </fieldset>
                <fieldset class="amenities-item">
                    <input type="checkbox" class="tf-checkbox style-1 primary" id="cb-bed4">
                    <label for="cb-bed4" class="text-cb-amenities">TV with standard
                        cable</label>
                </fieldset>
            </div>
        </div>
        <div class="box-amenities">
            <div class="title-amenities text-btn">Kitchen:</div>
            <div class="list-amenities">
                <fieldset class="amenities-item">
                    <input type="checkbox" class="tf-checkbox style-1" id="cb-kit1">
                    <label for="cb-kit1" class="text-cb-amenities">Refrigerator</label>
                </fieldset>
                <fieldset class="amenities-item">
                    <input type="checkbox" class="tf-checkbox style-1 primary" id="cb-kit2">
                    <label for="cb-kit2" class="text-cb-amenities">Dishwasher</label>
                </fieldset>
                <fieldset class="amenities-item">
                    <input type="checkbox" class="tf-checkbox style-1 primary" id="cb-kit3">
                    <label for="cb-kit3" class="text-cb-amenities">Microwave</label>
                </fieldset>
                <fieldset class="amenities-item">
                    <input type="checkbox" class="tf-checkbox style-1 primary" id="cb-kit4">
                    <label for="cb-kit4" class="text-cb-amenities">Coffee maker</label>
                </fieldset>
            </div>
        </div>
    </div>
</div>