
{% load static %}
<div class="tab-pane active show" id="gridLayout" role="tabpanel">
    <div class="row">
        {% for property in properties %}
        <div class="col-md-6">
            <div class="adityam-box">
                <div class="archive-top">
                    <a href="{% url 'property-detail' property.id %}" class="images-group">
    
                        <!-- IMAGE -->
                        <div class="images-style">
                            {% if property.images.first %}
                            <img
                                src="{{ property.images.first.image.url }}"
                                alt="{{ property.title }}"
                            >
                            {% else %}
                            <img src="/static/images/no-image.jpg" alt="img">
                            {% endif %}
                        </div>
    
                        <!-- TAGS -->
                        <div class="top">
                            <ul class="d-flex gap-6">
                                <li class="flag-tag primary">
                                    {{ property.get_property_label_display }}
                                </li>
                                <li class="flag-tag style-1">
                                    {{ property.get_property_status_display }}
                                </li>
                            </ul>
                        </div>
    
                        <!-- ADDRESS -->
                        <div class="bottom">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 7C10 7.53043 9.78929 8.03914 9.41421 8.41421C9.03914 8.78929 8.53043 9 8 9C7.46957 9 6.96086 8.78929 6.58579 8.41421C6.21071 8.03914 6 7.53043 6 7C6 6.46957 6.21071 5.96086 6.58579 5.58579C6.96086 5.21071 7.46957 5 8 5C8.53043 5 9.03914 5.21071 9.41421 5.58579C9.78929 5.96086 10 6.46957 10 7Z"
                                      stroke="white" stroke-width="1.5"
                                      stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M13 7C13 11.7613 8 14.5 8 14.5C8 14.5 3 11.7613 3 7C3 5.67392 3.52678 4.40215 4.46447 3.46447C5.40215 2.52678 6.67392 2 8 2C9.32608 2 10.5979 2.52678 11.5355 3.46447C12.4732 4.40215 13 5.67392 13 7Z"
                                      stroke="white" stroke-width="1.5"
                                      stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            {{ property.address }}, {{ property.state }}
                        </div>
                    </a>
                </div>
    
                <!-- CONTENT -->
                <div class="archive-bottom">
                    <div class="content-top">
                        <h6 class="text-capitalize">
                            <a href="{% url 'property-detail' property.id %}" class="link">
                                {{ property.title }}
                            </a>
                        </h6>
    
                        <ul class="meta-list">
                            <li class="item">
                                <i class="icon icon-bed"></i>
                                <span class="text-variant-1">Beds:</span>
                                <span class="fw-6">{{ property.bedrooms }}</span>
                            </li>
                            <li class="item">
                                <i class="icon icon-bath"></i>
                                <span class="text-variant-1">Baths:</span>
                                <span class="fw-6">{{ property.bathrooms }}</span>
                            </li>
                            <li class="item">
                                <i class="icon icon-sqft"></i>
                                <span class="text-variant-1">Sqft:</span>
                                <span class="fw-6">{{ property.size_sqft }}</span>
                            </li>
                        </ul>
                    </div>
    
                    <div class="content-bottom">
                        <div class="d-flex gap-8 align-items-center">
                            <div class="avatar avt-40 round">
                                <img src="{% static 'images/avatar/default.png' %}" alt="image">
                            </div>
                            <span>{{ property.user.get_full_name|default:property.user.username }}</span>
                        </div>
    
                        <h6 class="price">
                            ₹{{ property.price|floatformat:0 }}
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No properties found.</p>
        {% endfor %}
    </div>
</div>
