
{% load static %}
<div class="tab-pane active show" id="listLayout" role="tabpanel">
    <div class="row">
        {% for property in properties %}
        <div class="col-md-12">
            <div class="adityam-box list-style-1 list-style-2 line">
                <div class="archive-top">
                    <a href="{% url 'property-detail' property.id %}" class="images-group">
                        <div class="images-style">
                            {% if property.images.all %}
                                <div class="swiper2">
                                    <div class="swiper-wrapper">
                                        {% for img in property.images.all %}
                                        <div class="swiper-slide">
                                            <img
                                                style="width:100%; height:250px; object-fit:cover;"
                                                class="lazyload"
                                                src="{{ img.image.url }}"
                                                data-src="{{ img.image.url }}"
                                                alt="{{ property.title }}"
                                            >
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="top">
                            <ul class="d-flex gap-6 flex-wrap">
                                <li class="flag-tag primary">
                                    {{ property.get_property_label_display }}
                                </li>
                                <li class="flag-tag style-1">
                                    {{ property.get_property_status_display }}
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="archive-bottom">
                    <div class="content-top">
                        <h6 class="text-capitalize">
                            <a href="{% url 'property-detail' property.id %}"
                               class="link text-line-clamp-1">
                                {{ property.title }}
                                ({{ property.get_property_type_display }})
                            </a>
                        </h6>
    
                        <ul class="meta-list">
                            <li class="item">
                                <i class="icon icon-bed"></i>
                                <span class="text-variant-1">Beds:</span>
                                <span class="fw-6">{{ property.bedrooms }}</span>
                            </li>
                            <li class="item">
                                <i class="icon icon-bath"></i>
                                <span class="text-variant-1">Baths:</span>
                                <span class="fw-6">{{ property.bathrooms }}</span>
                            </li>
                            <li class="item">
                                <i class="icon icon-sqft"></i>
                                <span class="text-variant-1">Sqft:</span>
                                <span class="fw-6">{{ property.size_sqft }}</span>
                            </li>
                        </ul>
    
                        <!-- LOCATION -->
                        <div class="location">
                            <span class="icon-mapPin"></span>
                            <span class="text-line-clamp-1">
                                {{ property.address }},
                                {{ property.state }},
                                {{ property.country }}
                            </span>
                        </div>
                    </div>
    
                    <!-- FOOTER -->
                    <div class="content-bottom">
                        <div class="d-flex gap-8 align-items-center">
                            <div class="avatar avt-40 round">
                                <img src="{% static 'images/avatar/default.png' %}" alt="image">
                            </div>
                            <span>
                                {{ property.user.get_full_name|default:property.user.username }}
                            </span>
                        </div>
    
                        <h6 class="price">
                            ₹{{ property.price|floatformat:0 }}
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No properties found.</p>
        {% endfor %}
    </div>                    
</div>