{% load static %}
<div class="adityam-box">
    <div class="archive-top">
        <a href="{% url 'property-detail' property.id %}" class="images-group">
            <div class="images-style">
                {% if property.images.all %}
                    <div class="swiper2">
                        <div class="swiper-wrapper">
                            {% for img in property.images.all %}
                            <div class="swiper-slide">
                                <img
                                    style="width:100%; height:250px; object-fit:cover;"
                                    class="lazyload"
                                    src="{{ img.image.url }}"
                                    data-src="{{ img.image.url }}"
                                    alt="{{ property.title }}"
                                >
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="top">
                <ul class="d-flex gap-6">
                    <li class="flag-tag primary">Featured</li>
                    <li class="flag-tag style-1">For {{ property.property_status|capfirst }}</li>
                </ul>

            </div>
            <div class="bottom icon-mapPin">
                {{ property.address }}
            </div>
        </a>

    </div>
    <div class="archive-bottom">
        <div class="content-top">
            <h6 class="text-capitalize">
                <a href="{% url 'property-detail' property.id %}" class="link">
                    {{ property.title }}
                </a>
            </h6>

            <ul class="meta-list">
                <li class="item">
                    <i class="icon icon-bed"></i>
                    <span class="text-variant-1">Beds:</span>
                    <span class="fw-6">{{ property.bedrooms }}</span>
                </li>
                <li class="item">
                    <i class="icon icon-bath"></i>
                    <span class="text-variant-1">Baths:</span>
                    <span class="fw-6">{{ property.bathrooms }}</span>
                </li>
                <li class="item">
                    <i class="icon icon-sqft"></i>
                    <span class="text-variant-1">Sqft:</span>
                    <span class="fw-6">{{ property.size_sqft }}</span>
                </li>
            </ul>
        </div>

        <div class="content-bottom">
            <div class="d-flex gap-8 align-items-center">
                <div class="avatar avt-40 round">
                    <img src="{% static 'images/avatar/default.png' %}" alt="avt">
                </div>
                <span>{{ property.user.username }}</span>
            </div>
            <h6 class="price">₹{{ property.price }}</h6>
        </div>
    </div>
</div>
