{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page Title -->
{% comment %} <section class="flat-title-page"
    {% if page.background_image %}
    style="background-image: url({{ page.background_image.url }});"
    {% endif %}>    
    <div class="container">
        <div class="breadcrumb-content">
            <ul class="breadcrumb">
                <li><a href="/" class="text-white">Home</a></li>
                <li class="text-white">/ {{ page.title }}</li>
            </ul>
            <h1 class="text-center text-white title">{{ page.title }}</h1>
        </div>
    </div>
</section> {% endcomment %}
<!-- End Page Title -->
<!-- Service  -->
<section class="flat-section">
    <div class="container">
        <div class="flat-account">
            <div class="banner-account">
                <img src="{% static 'images/banner/banner-account1.jpg' %}" alt="banner">
            </div>
            <form class="form-account" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="box-title text-center wow fadeInUp">
                    <h3 class="mt-4 title text-primary">Login</h3>
                    <div class="text-subtitle ">Welcome Back</div>
                </div>
        
                <div class="box">
                    <fieldset class="box-fieldset">
                        <label>Email / Username</label>
                        <div class="ip-field">
                            <span class="icon icon-profile"></span>
                            {{ login_form.username }}
                        </div>
                    </fieldset>
                    <fieldset class="box-fieldset">
                        <label>Password</label>
                        <div class="ip-field">
                            <span class="icon icon-lock"></span>
                            {{ login_form.password }}
                        </div>
                        <div class="text-forgot text-end"><a href="#">Forgot password</a></div>

                    </fieldset>
                </div>
                <div class="box box-btn">
                    <button type="submit" class="tf-btn primary w-100">Login</button>
                    <div class="text text-center">Don’t you have an account? <a href="{% url 'register' %}" class="text-primary">Register</a></div>
                </div>
                {% comment %} <p class="box text-center caption-2">or login with</p>
                <div class="group-btn">
                    <a href="#" class="btn-social">
                        <img src="{% static 'images/logo/google.jpg' %}" alt="img">
                        Google
                    </a>
                    <a href="#" class="btn-social">
                        <img src="{% static 'images/logo/fb.jpg' %}" alt="img">
                        Facebook
                    </a>
                </div> {% endcomment %}
            </form>
        </div>
    </div>
</section>
<!-- End Service -->
<!-- Testimonial -->

{% endblock %}