{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page Title -->
<section class="flat-title-page"
    {% if page.background_image %}
    style="background-image: url({{ page.background_image.url }});"
    {% endif %}>    
    <div class="container">
        <div class="breadcrumb-content">
            <ul class="breadcrumb">
                <li><a href="/" class="text-white">Home</a></li>
                <li class="text-white">/ {{ page.title }}</li>
            </ul>
            <h1 class="text-center text-white title">{{ page.title }}</h1>
        </div>
    </div>
</section>
<!-- End Page Title -->
<!-- Service  -->
<section class="flat-section">
    <div class="container">
        <div class="box-title text-center wow fadeInUp">
            <div class="text-subtitle text-primary">{{ page.title }}</div>
            <h3 class="mt-4 title">{{ page.subTitle }}</h3>
        </div>
        <div class="tf-grid-layout md-col-{{services|length}} wow fadeInUp" data-wow-delay=".2s">
            {% for service in services %}
            <div class="box-service">
                <div class="image">
                    <img class="lazyload" data-src="{{ service.image.url }}" src="{{ service.image.url }}" alt="{{ service.title }}">
                </div>
                <div class="content">
                    <h5 class="title">{{ service.title }}</h5>
                    <p class="description">{{ service.description }}</p>
                    <a href="{{ service.link_url }}" class="tf-btn btn-line">
                        Learn More <span class="icon icon-arrow-right2"></span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Service -->
<!-- Testimonial -->
<section class="flat-section bg-primary-new flat-testimonial">
    <div class="box-title px-15 wow fadeInUp">
        <div class="text-center wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration="2000ms">
            <div class="text-subtitle text-primary">Our Testimonials</div>
            <h3 class="title mt-4">What’s people say’s</h3>
            <p class="desc text-variant-1">Our seasoned team excels in real estate with years of successful
                market navigation, offering informed decisions and optimal results.</p>
        </div>
    </div>
    <div dir="ltr" class="swiper tf-sw-testimonial wow fadeInUp" data-wow-delay=".2s" data-preview="4.5"
        data-tablet="2" data-mobile-sm="1" data-mobile="1" data-space="15" data-space-md="30"
        data-space-lg="30" data-centered="true" data-loop="true">
        <div class="swiper-wrapper">
            {% for testimonial in testimonial_section %}
            <div class="swiper-slide">
                <div class="box-tes-item">
                    <span class="icon icon-quote"></span>
                    <p class="note body-2">"{{ testimonial.message }}"</p>
                    <div class="box-avt d-flex align-items-center gap-12">
                        <div class="avatar avt-60 round">
                            {% if testimonial.user.profile.avatar %}
                            <img src="{{ testimonial.user.profile.avatar.url }}"
                                 alt="{{ testimonial.user.get_full_name }}">
                            {% else %}
                            <img src="{% static 'images/avatar/default.png' %}" alt="avt">
                            {% endif %}
                        </div>
                        <div class="info">
                            <h6>{{ testimonial.user.username }}</h6>
                            <p class="caption-2 text-variant-1 mt-4">{{ testimonial.user.username }}</p>
                            <ul class="list-star">
                                {% for _ in testimonial.stars %}
                                    <li class="icon icon-star"></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="sw-pagination sw-pagination-testimonial text-center"></div>
    </div>
</section>
<!-- End Testimonial -->
<!-- faq -->
<section class="flat-section">
    <div class="container">
        <div class="tf-faq">
            <div class="box-title style-1 text-center">
                <div class="text-subtitle text-primary">Faqs</div>
                <h3 class="title mt-4">Frequently Asked Questions</h3>
            </div>
            <ul class="box-faq" id="wrapper-faq">
                {% for faq in faqs %}
                <li class="faq-item {% if forloop.first %}active{% endif %}">
                    <a href="#accordion-{{ forloop.counter }}"
                       class="faq-header {% if not forloop.first %}collapsed{% endif %}"
                       data-bs-toggle="collapse"
                       aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                       aria-controls="accordion-{{ forloop.counter }}">
                        {{ faq.question }}
                    </a>
                    <div id="accordion-{{ forloop.counter }}"
                         class="collapse {% if forloop.first %}show{% endif %}"
                         data-bs-parent="#wrapper-faq">
                        <p class="faq-body">
                            {{ faq.answer }}
                        </p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<!-- /faq -->
<!-- banner -->
<section class="flat-section pt-0 flat-banner wow fadeInUpSmall animated animated" data-wow-delay=".2s" data-wow-duration="2000ms" style="visibility: visible; animation-duration: 2000ms; animation-delay: 0.2s;">
    <div class="container">
        <div class="wrap-banner bg-primary-new">
            <div class="box-left">
                <div class="box-title">
                    <div class="text-subtitle text-primary">Become Partners</div>
                    <h3 class="mt-4 fw-8">List your Properties on Adityam, join Us Now!</h3>
                </div>
                <a href="contact/" class="tf-btn btn-view primary size-1 hover-btn-view">Become A
                    Hosting <span class="icon icon-arrow-right2"></span></a>
            </div>
            <div class="box-right">
                <img src="{% static 'images/banner/banner.png' %}" alt="image">
            </div>
        </div>
    </div>
</section>
<!-- end banner -->

{% endblock %}